name: Create Release
on:
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Git user
      run: |
        git config --global user.name "${{ github.event.sender.login }}"
        git config --global user.email "${{ github.event.sender.email }}"
    - name: Create tag and release
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN_FOR_GITHUB_ACTIONS }}
      run: |
        version=$(echo "${{ github.head_ref }}" | sed 's/refs\/heads\/release\///' | senver)
        git tag $version
        git push origin $version
        body=$(git log --format=%B -n 1 $GITHUB_SHA)
        hub release create -a . -m "$version" -m "$body" $version
